<div class="wrapper">
  <app-sidebar style="background: white !important"></app-sidebar>>
  <div class="main">
    <main class="content">
      <div class="container-fluid">
        <div class="header">
          <h1 class="header-title">CLIENTES</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/clientes']">Clientes</a>
              </li>
              <li class="breadcrumb-item"><a>Registrar clientes</a></li>
            </ol>
          </nav>
        </div>

        <div class="row">
          <div class="col-12 col-xl-12">
            <form #clienteForm="ngForm" (ngSubmit)="onSubmit(clienteForm)">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Listado de clientes</h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label><b>Nombre </b></label>
                        <input
                          type="text"
                          class="form-control"
                          #nombre="ngModel"
                          name="nombre"
                          [(ngModel)]="clientes.nombre"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label><b>Apellido</b></label>
                        <input
                          type="text"
                          class="form-control"
                          #apellido="ngModel"
                          name="apellido"
                          [(ngModel)]="clientes.apellido"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label><b>Email</b></label>
                        <input
                          type="text"
                          class="form-control"
                          #email="ngModel"
                          name="email"
                          [(ngModel)]="clientes.email"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label><b>Direccion</b></label>
                        <input
                          type="text"
                          class="form-control"
                          #direccion="ngModel"
                          name="direccion"
                          [(ngModel)]="clientes.direccion"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label><b>Telefono</b></label>
                        <input
                          type="number"
                          class="form-control"
                          #telefono="ngModel"
                          name="telefono"
                          [(ngModel)]="clientes.telefono"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label><b>Ciudad</b></label>
                        <input
                          type="text"
                          class="form-control"
                          #ciudad="ngModel"
                          name="ciudad"
                          [(ngModel)]="clientes.ciudad"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label><b>Codigo Postal</b></label>
                        <input
                          type="number"
                          class="form-control"
                          #codigopostal="ngModel"
                          name="codigopostal"
                          [(ngModel)]="clientes.codigopostal"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label><b>Pais</b></label>
                        <input
                          type="text"
                          class="form-control"
                          #pais="ngModel"
                          name="pais"
                          [(ngModel)]="clientes.pais"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="btn btn-success" type="submit">
                    Registrar cliente
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
